<section class="container">
  <div class="info-container">
    <h1 class="title">Baking Films</h1>
    <p class="description">
      BAKING FILMS is a very fresh film-producing company, started in 2022, based in Arges and Bucharest,
      aiming to produce independent feature and short films, as well as audio theatre.
    </p>
    <div class="buttons-container">
      <button class="primary" >Exploreaza</button>
      <button class="secondary">Aboneaza-te</button>
    </div>
  </div>
  <div class="image-container">
    <img class="image" src="assets/logo BAKING FILM color pentru alb.png" alt="about">
  </div>
</section>