<section class="cards-section">
  <h1 class="section-title">Cunoaște echipa</h1>
  <div class="container">
    <div class="card" *ngFor="let card of cards" (click)="openModal(card)" appAnimateOnScroll (visible)="isVisible = true" [@slideInLeft]="isVisible ? 'visible' : 'hidden'">
      <img [src]="card.image" alt="{{ card.title }}" />
      <h3>{{ card.title }}</h3>
      <p>
        {{ card.description | slice:0:100 }}
        <span *ngIf="card.description.length > 100">
          ... <a (click)="openModal(card); $event.preventDefault()">See more</a>
        </span>
      </p>
    </div>
  </div>
</section>

<div class="modal-backdrop" *ngIf="selectedCard as card" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">

    <button class="close-btn" (click)="closeModal()">✕</button>

    <div class="modal-image">
      <img [src]="card.image" alt="{{ card.title }}" />
    </div>

    <div class="modal-content">
      <h2>{{ card.title }}</h2>
      <p>{{ card.description }}</p>
    </div>

  </div>
</div>
