<section class="container">
  <div class="header">
    <div class="info-container">
      <div class="info">
        <img class="logo" src="assets/baking_films.png" alt="Baking Films logo" />
        <p>🎬 Production company est.2022</p>
      </div>
    </div>
    <div class="links-container">
      <h3>Linkuri rapide</h3>
      <ul>
        <li (click)="scrollToById(ABOUT_SECTION)">
          Despre noi
        </li>
        <li (click)="scrollToById(CARDS_SECTION)">
          Echipa
        </li>
        <li (click)="scrollToById(CAROUSEL_SECTION)">
          Catalog
        </li>
      </ul>
    </div>
    <section class="social-media-container">
      <h3>Social media Baking Films</h3>
      <i class="fab fa-instagram" (click)="openLink(INSTAGRAM)"></i>
      <i class="fab fa-facebook-square" (click)="openLink(FACEBOOK)"></i>
    </section>
  </div>
  <div class="copyright-container">
    <p>Copyright 2026 <strong>Baking Films / ꩜𝟹Vision</strong>.</p>
  </div>
</section>
