<section class="container">
  <div class="header">
    <div class="info-container">
      <div class="info">
        <p>📽️🎬lorem ipsum</p>
      </div>
    </div>
    <div class="links-container">
      <h3>Linkuri rapide</h3>
      <ul>
        <li>
          Despre noi
        </li>
        <li>
          Loerem ipsum
        </li>
        <li>
          Lorem ipsum
        </li>
      </ul>
    </div>
    <section class="social-media-container">
      <h3>Social media Baking Films</h3>
      <i class="fab fa-instagram" (click)="openLink(INSTAGRAM)"></i>
      <i class="fab fa-facebook-square" (click)="openLink(FACEBOOK)"></i>
      <!-- <div style="display: flex; flex-direction: row;">
        <img src="assets/social_media_icons/facebook_circle.png" alt="facebook" class="social-media-icon"
          (click)="openLink(FACEBOOK)">
        <img src="assets/social_media_icons/instagram_circle.png" alt="instagram" class="social-media-icon"
          (click)="openLink(INSTAGRAM)">
        <img src="assets/social_media_icons/youtube_circle.png" alt="youtube" class="social-media-icon"
          (click)="openLink(YOUTUBE)">
      </div> -->
    </section>
  </div>
  <div class="copyright-container">
    <p>Copyright 2026 <strong>Baking Films / ꩜𝟹Vision</strong>.</p>
  </div>
</section>