<div id="navbar-container">
  <section class="navbar-row1">
    <img
      class="logo"
      src="assets/logo_square.png"
      alt="logo"
      (click)="scrollToById(CAROUSEL_SECTION)"
    />
    @if(isMobileView) {
      <button
        aria-label="Toggle sidenav"
        mat-icon-button
        class="sidenav-button"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
  }
  </section>
  @if(!isMobileView) {
    <section class="navbar-row2">
      <ul>
        <li (click)="scrollToById(ABOUT_SECTION)">
          <img class="cherry" *ngIf="activeSection === ABOUT_SECTION" src="assets/cherry.png" />
          Despre noi
        </li>
        <li (click)="scrollToById(CARDS_SECTION)">
          <img class="cherry" *ngIf="activeSection === CARDS_SECTION" src="assets/cherry.png" />
          Echipa
        </li>
        <li (click)="scrollToById(CAROUSEL_SECTION)">
          <img class="cherry" *ngIf="activeSection === CAROUSEL_SECTION" src="assets/cherry.png" />
          Catalog
        </li>
        <li (click)="scrollToById(FOOTER_SECTION)">
          <img class="cherry" *ngIf="activeSection === FOOTER_SECTION" src="assets/cherry.png" />
          Contact
        </li>
      </ul>
    </section>
  }
  @if(isMobileView && isSidenavOpened) {
    <div class="backdrop" (click)="toggleSidenav()" ></div>

  }
  @if(isSidenavOpened) {
    <section class="sidenav-container">
      <ul>
        <li (click)="toggleSidenav(); scrollToById(ABOUT_SECTION)">
          <img class="cherry" *ngIf="activeSection === ABOUT_SECTION" src="assets/cherry.png" />
          Despre noi
        </li>
        <li (click)="toggleSidenav(); scrollToById(CARDS_SECTION)">
          <img class="cherry" *ngIf="activeSection === CARDS_SECTION" src="assets/cherry.png" />
          Echipa
        </li>
        <li (click)="toggleSidenav(); scrollToById(CAROUSEL_SECTION)">
          <img class="cherry" *ngIf="activeSection === CAROUSEL_SECTION" src="assets/cherry.png" />
          Catalog
        </li>
        <li (click)="toggleSidenav(); scrollToById(FOOTER_SECTION)">
          <img class="cherry" *ngIf="activeSection === FOOTER_SECTION" src="assets/cherry.png" />
          Contact
        </li>
      </ul>
    </section>
  }
</div>
